# top-most EditorConfig file
root = true

[*.{java,kt,kts,md,xml,aidl,gradle,properties,html,json,yml,yaml,toml}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8

[*.{kt,kts}]
ij_kotlin_imports_layout = *
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_code_style = intellij_idea
max_line_length = 120

[*.{html,json,yml,yaml}]
indent_size = 2
max_line_length = 120
