language: java

sudo: false
jdk:
  - openjdk8
before_install:
  - chmod +x gradlew
script:
  - ./gradlew check
after_success:
  - bash <(curl -s https://codecov.io/bash)
deploy:
  provider: script
  script: ./gradlew clean bintrayUpload
  on:
    branch: release